:root {
  --primary-colour: #1c4178;
  --secondary-colour: #f5f5f5;
  --tertiary-colour: #333;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

header {
  background-color: var(--primary-colour);
  text-align: center;
  padding: 30px;
}

main {
  padding: 20px;
  margin: 20px auto;
  max-width: 70%;
}

h1 {
  color: var(--secondary-colour);
  font-size: 40px;
  margin-bottom: 10px;
  position: relative;
  left: 60px;
}

h1,
h2,
h3,
footer {
  text-align: center;
  font-weight: bold;
}

h2,
h3,
button,
footer,
#party-affiliation-filter,
#state-filter,
#rank-filter,
.filter-container {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
}

h2 {
  margin: 0 auto;
  padding: 30px;
}

h2,
h3 {
  font-size: 24px;
}

h2,
li,
button,
.affiliations-box,
.leadership-box,
.filter-container,
#party-affiliation-filter,
#state-filter,
#rank-filter,
#filtered-senators,
#senator-details {
  border: 1px solid var(--primary-colour);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  width: 115px;
  float: right;
  position: relative;
  top: -15px;
}

ul,
li {
  list-style: none;
}

li {
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
}

label {
  margin-right: 10px;
  color: var(--primary-colour);
}

footer {
  padding: 10px 0;
}

footer small {
  font-size: 12px;
}

button {
  width: 200px;
  height: 40px;
  font-size: 14px;
  letter-spacing: 2px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  overflow: hidden;
}

button,
select,
#filtered-senators {
  cursor: pointer;
}

#senator-details h2 {
  margin-top: 25px;
  margin-bottom: 40px;
}

.filter-group label {
  color: var(--secondary-colour);
}

.affiliations-box ul {
  position: relative;
  left: -18px;
}

.affiliations-box,
.leadership-box,
#filtered-senators,
#senator-details,
#party-affiliation-filter,
#state-filter,
#rank-filter {
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
}

#party-affiliation-filter,
#state-filter,
#rank-filter {
  padding: 10px;
}

.affiliations-box {
  padding: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

#party-affiliations-democrats,
#party-affiliations-republicans,
#party-affiliations-independents {
  text-align: center;
}

.leadership-box,
#filtered-senators,
#senator-details {
  text-align: justify;
  padding: 20px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  transition: transform 0.3s;
}

.leadership-box li,
#filtered-senators li,
#senator-details li {
  background-color: #fff;
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.leadership-box li {
  position: relative;
  left: -18px;
}

#filtered-senators li:hover {
  transform: scale(1.1);
}

#senator-details {
  text-align: center;
}

#senator-details li {
  text-align: center;
  position: relative;
  left: -18px;
}

.filter-container,
.filter-controls,
.filter-group {
  align-items: center;
  display: flex;
}

.filter-container {
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
  flex-direction: column;
  margin: 0 auto;
}

.filter-controls {
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-group {
  margin: 20px;
}
